<div class="seller-auth">
    <div class="sign-up">
        <h1>Seller Signup</h1>
        <form #sellerSignup="ngForm" (ngSubmit)="signUp(sellerSignup.value)" class="common-form">
            <input type="text" class="form-input" ngModel placeholder="enter name" name="name">
            <input type="password" class="form-input" ngModel placeholder="enter password" name="password">
            <input type="email" class="form-input" ngModel placeholder="enter email" name="email">
            <button class="form-button">Signup</button>
        </form>
    </div>
</div>